body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #efefef !important;
	width:100%;
	height:100%;
	display:block;
	
}

#bg {
	position:fixed;
	top:0;
	left:0;
	min-height: 100%;
	min-width: 100%;
}

#page
{
	background: #fff;
	border: 1px solid #cccccc;

	padding-top:10px;
	padding-bottom:10px;

	margin-top:25px;
	margin-bottom:25px;

	-webkit-box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.2);

}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    background:#ffffff;
    padding:10px;
    border:0px solid #efefef;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo {
	margin-bottom:20px;
	margin-left:10px;
	margin-top:10px;
}

#adminnav .navbar {
	margin-bottom:0px;

}

#mainmenu
{
	background:white url(bg.gif) repeat-x left top;
}

#mainnav .navbar {
	margin-bottom:0px;
	color: white;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

}

#mainnav ul.nav li a {
	color:#ffffff;
}

#mainnav .navbar a:hover {
	color: #ffffff;
    text-decoration: none;
    background-color: #0D79BD !important;
}

#mainnav .navbar-default .navbar-nav>.active>a{
	background-color : #0D79BD;
}

#inputan{
	background-color : white;
	padding-height: 5px;
	padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 30px;
	border: 2px solid #E3E3E3;
	border-radius: 6px;
}

.breadcrumb{
	border: 2px solid #E3E3E3;
	background-color: #ffffff!important;
}

#carikode{
	background-color : white;
	padding: 20px;
	border: 2px solid #E3E3E3;
	border-radius: 6px;
}

#footer{
	height: 200px;
	background-color: black;
}

.help-block {
	margin-bottom:0px !important;
}

@media (min-width: 750px) {
	.container {
		width:600px !important;
	}
}

.well {
	margin-bottom:0px !important;
}

button.btn-primary {
	
	border:0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6db3f2+0,54a3ee+50,3690f0+51,1e69de+100;Blue+Gloss+%233 */
background: rgb(109,179,242); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */

}

.alert {

}